.nav-bg{
  padding-left: 100px;
}

.navbar{
  height: 100px;
  width: 100%;
  display: flex;
  background-color:transparent;
  padding-top: 30px;
  position: fixed;

}
.nav{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  justify-content: center;
  color: antiquewhite;
  position:fixed;

}
 .list{
  display: flex;
  margin: 30px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  
} 
.link{
  text-decoration: none;
  color:black;
  font-size: 15px;
  font-weight: 500;
  
}
.carousel-text{
  color:black;
  /* padding-right: 90px; */
  justify-content: start;
  align-items:start;

}

.li-items{
  padding-left: 40px;
}
li{
  list-style-type: none;
}

.home-item {
  flex-wrap: wrap;
}

.img{
  height: 100vh;
  opacity: 0.9;
}
.home-text{
  font-size: 60px;
  font-weight: 700;
}
.para{
  font-weight: 600;
}
.home-text:hover{
  color: blueviolet;                          
}

.img-img-img {
  width: 100%;
  background-size: cover;
  height: 60vh;
  
}

.cardslist{
  background-size: cover;
}


.cards{
  list-style: none;
}

.icon{
  font-size: 50px;

}
.title:hover{
  color: blueviolet;

} 
.A-block{
  height: 60vh;
  
}
.doller{
  position: absolute;
  top: 180%;

}
.doller-1{
  position: absolute;
  top: 275%;
}

.img-id{
width: 100%;
height: 400px;
}
.cards-list{
list-style-type: none;
padding: 10px;
background-color: transparent;
}
.rs{
  position: absolute;
  top: 390%;
}

.img-item{
  height: 100%;
  
}
.best-item{
  margin-bottom: 70px;
}

  
