.navbar{
  height: 100px;
  width: 100%;
  display: flex;
  background-color:transparent;
  padding-top: 30px;
  position: fixed;

}
.nav{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  justify-content: center;
  color: antiquewhite;
  position:fixed;

}
li{
  display: flex;
  margin: 30px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  
}
.Link{
  text-decoration: none;
  color:black;
  
}

.carousel {
  height: 100vh;
  width: 100%;
}
