.nav-bg{
  padding-left: 100px;
}

.navbar{
  height: 100px;
  width: 100%;
  display: flex;
  background-color:transparent;
  padding-top: 30px;
  position: fixed;

}
.nav{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  justify-content: center;
  color: antiquewhite;
  position:fixed;

}
 .list{
  display: flex;
  margin: 30px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  
} 
.link{
  text-decoration: none;
  color:black;
  font-size: 15px;
  font-weight: 500;
  
}

.li-items{
  padding-left: 40px;
}

.img{
  height: 100vh;

}

.img-img-img {
  width: 100%;
  background-size: cover;
  height: 60vh;
  
}
.img-img-img:hover{
  color: blueviolet;
  
}
.cardslist{
  background-size: cover;
}

.cards{
  list-style: none;
}

.icon{
  font-size: 50px;

}
.color:hover{
  color: blueviolet;

}


  
